<!-- app/views/users/index.html.erb -->
<h1 class="page-header"><%= @spotify_user.display_name %></h1>

<ul>
  <% @spotify_user.playlists.each do |playlist| %>
    <li><%= playlist.name %> | <%= link_to "Show", playlist_path(user: playlist.owner.id, id: playlist.id) %></li>
  <% end %>
</ul>