<div class="container">
  <div class="col-md-12 text-center">
        <div class="row">
          <hr>
            <h1>You selected</h1>
            <h3 class="playlist-name"><%= @selected_playlist.name %></h3>
            <% if @selected_playlist.description != nil %>
                <q><%= @selected_playlist.description %></q>
            <% end %>
            <% @selected_playlist.tracks.each do |track| %>
                <h5 class="track-name"><%= track.name %></h5><p><%= track.popularity %></p>
            <% end %>
          </div>
          <hr>
          <form action='/auth/google_oauth2' method ='GET'>
            <button type="submit" class="btn btn-success btn-lg center-block">Create a YouTube Playlist</button>
          </form>
        <hr>
  </div>
</div>
