<div class="container">
  <div class="col-md-12">
    <hr>
    <h1>You selected <%= @selected_playlist_name%>. Enjoy your new YouTube playlist.</h1>
    <iframe id="ytplayer" width="640" height="360"
            src="https://www.youtube.com/embed?listType=playlist&list=<%= @playlist_id%>"
            frameborder="0">
    </iframe>
  </div>
</div>