<div class="container">
  <div class="col-md-12">
    <% if @current_user.respond_to?(:uid) %>
      <h1>Here are your playlists</h1>
        <div class="container">
          <input id="search-field" type="text" name="search" class="form-control home_search" placeholder="narrow your playlists by playlist name or song title" autocomplete="off"><br>
              <div class="col-lg-12">
                <!--<input type= "submit" class= "btn btn-lg btn-success" value= "search!">-->
                <% @user_playlists.each do |playlist| %>
                  <div class="row playlist-div filterable">
                      <h3 class="playlist-name"><%= playlist.name %></h3>
                      <p><%= playlist.description %></p>
                      <% playlist.tracks.each do |track| %>
                            <h5 class="track-name"><%= track.name %></h5>

                      <% end %>
                  </div>
                  <% end %>
                <hr>
              </div>
        </div>
    <% else %>
        <h1 id="login-message">Login to view your playlists</h1>
    <% end %>
    </div>
</div>


