<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if @current_user.respond_to?(:uid) %>
        <h1>Here are your playlists: </h1>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <% @user_playlists.each do |playlist| %>

                          <h3 class="playlist-name"><%= playlist.name %></h3>
                          <h8><%= playlist.description %></h8>
                                <% playlist.tracks.each do |track| %>
                                <h5><%= track.name %></h5>
                              <% end %>
                          <hr>
                      <% end %>
                    </div>
                  </div>
                </div>
      <% else %>
        <h1 id="login-message">Login to view your playlists</h1>
      <% end %>
    </div>
  </div>
</div>


